@font-face {
    font-family: "Space Grotesk";
    src: 
    url(SpaceGrotesk-Regular.woff2) format("woff2");
}

body{
    background: #f7f5f5;
    color: #000000;
    line-height: 1.5;
    font-family: "Space Grotesk", sans-serif;
}

h1{
    margin: 0;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

p{
    max-width: 550px;
}

/* header */

.header{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    color: blue;
}

.header a{
    text-decoration: none;
    color: currentColor;
}

.nav{
    display:grid;
    grid-template-columns: repeat(auto-fill,200px);
    justify-content: center;
    gap: 15px;
}

.nav a{
    text-decoration: none;
    color: rgb(230, 229, 229);
    font-size: 25px;
    background-color:#0000ff;
}

.nav a span{
    display: block;
    padding: 6px;
}

/***.nav a{
    text-decoration: none;
    color: currentColor;
    font-size: 46px;
    border-bottom: 1px solid black;

} ***/

/* ******
page projet
****** */

.projet{
    background: #dbdbdb;
}

.projet h1{
    font-size: 16px;
    color: blue;
}